body {
	background-image: url("../../images/bg.jpg");
}
#header {
	display: block;
	height: 80px;
	width: 100%;
	background-color: #0C5196;
}

#content {
	display: block;
	height: 500px;
}


#footer {
	height: 100px;
	display: block;
	width: 100%;
	background-color: #0C5196;
}
#form {
	margin-top: 140px;
	margin-left: 150px;
}